* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: Georgia, serif;
  background-color: #f3e7d8;
  color: #2b1008;
}
.logocafe{
  width:200px;
  border-radius: 50%;
}

.sidebar {
  width: 330px;
  background-color: #4b2c25;
  color: #fff8dc;
  padding: 50px 30px;
  text-align: center;
}

.sidebar h1 {
  font-family: monospace;
  font-size: 32px;
  letter-spacing: 4px;
  margin-bottom: 40px;
}

.sidebar h2 {
  margin: 25px 0;
  font-size: 24px;
}

.content {
  flex: 1;
  padding: 22px 30px;
}

.menu {
  background-color: #6f493d;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 22px;
}

.menu button {
  background: transparent;
  border: none;
  color: white;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}

.produto-card {
  background-color: #fff8dc;
  border-radius: 15px;
  margin-bottom: 22px;
  padding: 28px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  border-left: 10px solid #6f493d;
}

.produto-card h2 {
  font-size: 32px;
  margin-bottom: 22px;
}

.produto-card p {
  font-size: 26px;
  margin-bottom: 22px;
}

.produto-card button {
  background-color: #6f493d;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 6px;
}

.paginacao {
  text-align: center;
  margin-top: 30px;
}

.paginacao button {
  background-color: #6f493d;
  color: white;
  border: none;
  padding: 10px 16px;
  margin: 4px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.paginacao button.ativo {
  background-color: #a94442;
  color: #FFFFFF;
}

.input-comentario {
  margin-top: 15px;
  gap: 10px;
  align-items: center;
}

.input-comentario input {
  flex: 1;
  padding: 10px;
  border: 1px solid #b89b85;
  border-radius: 6px;
  font-size: 16px;
}

.input-comentario select {
  padding: 10px;
  border: 1px solid #b89b85;
  border-radius: 6px;
  font-size: 16px;
  background-color: #fff;
}

.input-comentario button {
  background-color: #6f493d;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.pedido-item {
  background: #fff8dc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pedido-item button {
  background-color: #a94442;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
/*modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  background-color: #fff8dc;
  padding: 35px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 20px;
  color: #4b2c25;
}

.modal-content input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #b89b85;
  font-size: 16px;
}

.modal-content button {
  width: 100%;
  padding: 12px;
  background-color: #6f493d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #4b2c25;
}

.modal-content {
  position: relative; /* IMPORTANTE pro X funcionar */
}

#erroLogin {
  color: red;
  margin-top: 10px;
}

.btn-sair {
  margin-top: 10px;
  background-color: #a94442;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.footer {
  background-color: #4b2c25;
  color: #fff8dc;
  padding: 15px 0;
  margin-top: 80px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.footer .logo {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer .redes img {
  width: 24px;
  margin: 0 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.footer .copy {
  font-size: 14px;
}